# Ignore entire logs folder
logs/

# Ignore all __pycache__ directories at any level
**/__pycache__/
__pycache__/

# Ignore compiled Python files
*.py[cod]
*$py.class

# Ignore image files
*.pdf
*.jpg
*.jpeg
*.gif
*.bmp


# Ignore HDF5 files
*.h5
*.hdf5
*.hdf
*.hdf4

.coverage
coverage.xml
htmlcov/

openimc.egg-info/